html {
   font-size: 10px;
}

body {
   margin: 0 auto;   
   font-family: 'Source Sans Pro', sans-serif;
}

a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

.nach {
   background: #fff url(../img/1.jpg) center center no-repeat;
   display: table;
   width: 100%;
   height: 100vh;
   position: relative;
   text-align: center;
   z-index: 0;
   color: #fff;
}
.nach .nach_1 {
   display: table-cell;
   margin: 0 auto;
   z-index: 1;
   vertical-align: middle; 
   background-color: rgba(0,0,0,0.7)
}

.nach h1 {
   font-size: 8rem;
   margin-bottom: 1.0rem;
   font-weight: 500;
   text-transform: uppercase;
   margin-top: 2.0rem;
   margin-bottom: -3rem;
}

.nach .menu {
	position: absolute;
    left: 50%;
    margin-left: -37rem;
    top: 3rem;
}
.nach .menu a{
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.nach .menu a:hover {
	color: #fff;
    text-decoration: underline;
}




@media (min-width: 0px) and (max-width: 990px) {
   html {
      font-size: 6px;
   }
   .menu h1 {
      font-size: 4rem;
   }
}
