html {
   font-size: 10px;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
}

a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

.nach {
    background: #000 url(../img/1.jpg) center center no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: table;
	color: #fff;
}
.nach .nach_1 {
	margin: 0 auto;
	display:table-cell;
	vertical-align:middle;
	z-index: 1;
	background-color: rgba(0,0,0,0.5)
}

.nach h6 {
    font-size: 6rem;
	margin-bottom: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
}
.nach h6 span {
   font-size: 5rem;
}


 

 
.itemsMenu  {
  left: 50%;
  position: absolute;
  top: 4rem;
  margin-left: -34rem;
}
.itemsMenu li {
  display: inline;
}
.itemsMenu a{
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.5rem;
}
.itemsMenu a:hover {
  border-bottom: 4px solid #fff;
  color: #fff;
  text-decoration: none;
}
.iconMenu {
  color: #fff;
  cursor: pointer;
  display: none;
}
.iconMenu img{
  width: 40px;
  height: 40px;
}
.showitems {
  display:block !important;
}



@media (min-width: 0px) and (max-width: 991px) {
   html {
      font-size: 7px;
   }
   .nach h6 {
      font-size: 3.8rem;
   }
   .nach h6 span {
      font-size: 2.8rem;
   }
   .iconMenu {
      display:block;
  }
  .itemsMenu {
      display:none;
  }
  .itemsMenu li {
      display:block;
      padding:10px 0;
  }
}



