
.header {
	background: #00C8FF url(../img/1.png) center center no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: table;
	color: #fff;
}
.header .head {
	margin: 0 auto;
	display:table-cell;
	vertical-align:middle;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
}
.header .head a {
	font-size: 3.8rem;
	margin-bottom: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	padding: 1rem;
	background-color: #0D96FF;
	border-radius: 1rem;
}
.header .head a:hover {
	background-color: #0C1CE8;
}